cors:
  originPatterns: http://localhost:4200/
spring:
  application:
    name: create-user
  datasource:
    url: jdbc:h2:mem:mydb
    username: sa
    password: password
    driver-class-name: org.h2.Driver
  jpa:
    show-sql: true
  h2:
    console:
      enabled: true